
@{
    ViewBag.Title = "ApproveReturnRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData["Msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show shadow-sm border-0 rounded-3 mt-4 px-4 py-3"
         style="font-weight: 500;"
         role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        @TempData["Msg"]

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="container mt-4 mb-5">


    <div class="p-4 mb-4 text-center text-white rounded shadow"
         style="background: linear-gradient(90deg, #4facfe, #00f2fe);">
        <h2 class="fw-bold m-0">
            <i class="bi bi-truck"></i> Approve Return Request
        </h2>
    </div>

    @if (Model.Count == 0)
    {
        <h4 class="text-center alert alert-info">No orders has been retured.</h4>
    }
    else
    {
        <div class="card shadow-lg border-0 rounded-3">
            <div class="card-body p-4">
                <div class="table-responsive">
                    <table class="table table-hover align-middle text-center">
                        <thead class="table-primary text-dark">
                            <tr>
                                <th>#</th>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Delivered Date</th>
                                <th>Status</th>

                                <th>Assign</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int idx = 0; }

                            @foreach (var returnsTrackerDb in Model)
                            {
                                <tr>
                                    <td>@(++idx)</td>
                                    <td class="fw-semibold">@returnsTrackerDb.OrderTarcker.OrderId</td>
                                    <td>@returnsTrackerDb.OrderTarcker.Order.Date</td>
                                    <td>@returnsTrackerDb.OrderTarcker.DeliveredTime</td>
                                    <td>
                                        <span class="badge bg-success fs-6">
                                            @returnsTrackerDb.Status.Name
                                        </span>
                                    </td>

                                    <td>
                                        <a href="/Admin/ViewReturnDetails/@returnsTrackerDb.Id" class="btn btn-danger ">
                                            See details
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>



