@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DelivaryLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="text-center mt-5">
        @if (Session["User"] != null)
        {
            var user = (EcommerceWeb.Ef.User)Session["User"];
            <h3>Welcome <span class="text-info">@user.Username</span></h3>
        }
    </div>
    <nav class="d-flex justify-content-center gap-4 mt-5">

        <a href="/Delivery/Index" class="btn btn-outline-primary text-dark">
            Assigned Orders
        </a>
        <a href="/Delivery/OnGoingOrders" class="btn btn-outline-danger text-dark">
            Ongoing Orders
        </a>
        <a href="/Delivery/DeliveredOrders" class="btn btn-outline-info text-dark">
            Delivered Orders
        </a>
        <a class="btn btn-outline-danger" href="/Logout/Index">Logout</a>

    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

